<div class="form-group">
  <p *ngIf="houseService.message" style="color: #8AD144; font-size: 20px">{{houseService.message}}</p>
  <div class="form-row">
    <div class="form-group col-3 text-center" style="background-color: #E7E7EB; height: auto;display: inline-table;">
      <app-user-detail-in-post></app-user-detail-in-post>
    </div>
    <div class="form-group col-9">
      <li class="list-group-item " style="background-color: #8F8FA8"><h5>Tin của bạn</h5></li>
      <div style="border: 1px solid #3f3f4b">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col" style="width: 50px">STT</th>
            <th scope="col" style="text-align: center">Tin của bạn</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let house of houses ; index as i">
            <th class="text-center align-middle" scope="row">{{i + 1}}</th>
            <td>
              <h5 style="color: #0250c5">{{house.title}}</h5>
              <a [routerLink]="[house.id,'update']">
                <button>Sửa tin</button>
              </a><a (click)="deletePost(house.id)">
              <button>Xóa tin</button>
            </a>
              <br>
              Trạng thái:<span class="changeStatus pointer text-success" *ngIf="!house.status"> <a (click)="changeStatus(house.id)"> Đang hiển thị</a></span>
              <span class="changeStatus pointer text-danger" *ngIf="house.status"><a (click)="changeStatus(house.id)"> Đang không hiển thị</a></span>
              <br>
              <span>Số người đặt thuê: {{house.convenient}}  </span><span class="profile pointer"><a [routerLink]="[house.id,'user_order']">Chi tiết</a></span>
              <br>
              <span>Thời gian đăng: {{house.created_at}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



