<!-- Filter Search Section Begin -->
<div class="filter-search">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12">
        <form class="filter-form">
          <div class="location">
            <p>Location</p>
            <select class="form-control">
              <option value="">London</option>
              <option value="">US</option>
              <option value="">UAE</option>
            </select>
          </div>
          <div class="search-type">
            <p>Property Type</p>
            <select class="form-control">
              <option value="">House</option>
              <option value="">Resort</option>
              <option value="">Hotel</option>
            </select>
          </div>
          <div class="price-range">
            <p>Price</p>
            <div>
              <span class="col-4 float-left" style="padding: 0px;">Form</span>
              <select name="" id="" class="form-control col-8 float-left">
                <option value=""></option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
            </div>
            <div>
              <span class="col-4 float-left" style="padding: 0px;">To</span>
              <select name="" id="" class="form-control col-8 float-left">
                <option value=""></option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
            </div>
          </div>
          <div class="bedrooms">
            <p>Bedrooms</p>
            <select name="" id="" class="form-control">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
            </select>
          </div>
          <div class="bathrooms">
            <p>Bathrooms</p>
            <select name="" id="" class="form-control">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
            </select>
          </div>
          <div class="search-btn">
            <button type="submit"><i class="flaticon-search"></i>Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Filter Search Section End -->
