<!-- Filter Search Section Begin -->
<div class="filter-search">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12">
        <form class="filter-form" #searchForm (ngSubmit)="searchHouse(searchForm)">
          <div class="location s-component">
            <p>Địa điểm</p>
            <select class="form-control" name="city">
              <option value="">Chọn thành phố</option>
              <option *ngFor="let cty of cities" value="{{cty.name}}">{{cty.name}}</option>
            </select>
          </div>
          <div class="search-type s-component">
            <p>Loại nhà</p>
            <select name="style1" class="form-control">
              <option value="">Chọn loại nhà trọ</option>
              <option value="Phòng trọ">Phòng trọ</option>
              <option value="Ký túc xá">Ký túc xá</option>
              <option value="Chung cư mini">Chung cư mini</option>
              <option value="Cư xá">Cư xá</option>
              <option value="Homestay">Homestay</option>
              <option value="Nhà trọ nguyên căn">Nhà trọ nguyên căn</option>
              <option value="Trọ trong nhà chung chủ">Trọ trong nhà chung chủ</option>
            </select>
          </div>
          <div class="price-range s-component">
            <p>Price/ tháng</p>
            <div>
              <select name="price" class="form-control float-left">
                <option value="">Chọn mức giá/tháng</option>
                <option value="1000000">< 1 triệu</option>
                <option value="2000000">1 triệu - 2 triệu</option>
                <option value="3000000">2 triệu - 3 triệu</option>
                <option value="4000000">3 triệu - 4 triệu</option>
                <option value="5000000">> 5 triệu</option>
              </select>
            </div>
          </div>
          <div class="bedrooms s-component">
            <p>Số phòng ngủ</p>
            <select name="bedroom" class="form-control">
              <option value="">Số phòng ngủ</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">> 4</option>
            </select>
          </div>
          <div class="bathrooms s-component">
            <p>Số phòng tắm</p>
            <select name="bathroom" id="" class="form-control">
              <option value="">Số phòng tắm</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">> 4</option>
            </select>
          </div>
          <div class="s-component dateloan">
            <p>Từ ngày</p>
            <input type="date" name="start_loan" class="form-control">
            <p>Đến ngày</p>
            <input type="date" name="end_loan" class="form-control">
          </div>
          <div class="search-btn">
            <button type="submit"><i class="flaticon-search"></i>Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Filter Search Section End -->
