<!-- Footer Section Begin -->
<footer class="footer-section">
  <!-- Rooms Pic Section End -->
  <div class="container p-40">
    <div class="row p-37">
      <div class="col-lg-4">
        <div class="about-footer">
          <h3>About Employees</h3>
          <ul class="list-unstyled">Employees
            <li>Nguyen Van Linh</li>
            <li>Lai Quang Hung</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-blog">
          <h3>About Me</h3>
          <div class="single-blog">
            <p>Là sản phẩm của quá trình học tạp và làm việc của chúng tôi </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-address">
          <h3>Maps</h3>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.926563249911!2d105.76612144986747!3d21.035624192852435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b9444c676b%3A0xe713200541b7456d!2sCodeGym!5e0!3m2!1sen!2s!4v1568685513578!5m2!1sen!2s"
            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          <p>Monday – Friday: 9 am – 5 pm</p>
          <p>Saturday: 9 am – 1pm</p>
        </div>
      </div>
    </div>

    <div class="row p-20">
      <div class="col-lg-12 text-center">
        <div class="copyright">
          Copyright @ 2019. Develop by me
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
