<div style="border: 1px solid #3f3f4b">
  <li class="list-group-item " style="background-color: #8F8FA8">Thêm tin mới >> Bước 2>>Thêm hình ảnh</li>
  <p style="background-color: #8AD144">{{houseApi.message}}</p>
  <div class="container"><br>
    <form (ngSubmit)="post()">
      <label>Hình ảnh</label>
      <div class="form-row">
        <div *ngFor='let url of urls' class="form-group col-4">
          <img [src]="url" style="max-height: 200px"><br/>
        </div>
      </div>
      <input name="image" type="file" (change)="onSelectFile($event)">
      <br>
      <button type="submit" class="btn btn-primary ">Đăng</button>
    </form>
  </div>
</div>

