<li class="list-group-item " style="background-color: #8F8FA8">Sửa tin của bạn</li>
<div class="container" style="border: 1px solid #3f3f4b"><br>
  <form #postForm (ngSubmit)="update(postForm)">
    <div class="form-group">
      <label><h5>Tiêu đề tin</h5></label>
      <input type="text" name="title" class="form-control" value="{{houseDetail.title}}">
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label> Loại nhà</label>
        <select name="style1" class="form-control">
          <option value="Phòng trọ">Phòng trọ</option>
          <option value="Ký túc xá">Ký túc xá</option>
          <option value="Chung cư mini">Chung cư mini</option>
          <option value="Cư xá">Cư xá</option>
          <option value="Homestay">Homestay</option>
          <option value="Nhà trọ nguyên căn">Nhà trọ nguyên căn</option>
          <option value="Trọ trong nhà chung chủ">Trọ trong nhà chung chủ</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Hình thức thuê</label>
        <select name="loan_type" class="form-control">
          <option value="Cho thuê trọ">Cho thuê trọ</option>
          <option value="Cho thuê Nhà/Căn hộ">Cho thuê Nhà/Căn hộ</option>
          <option value="Tìm người ở ghép">Tìm người ở ghép</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Số phòng ngủ</label>
        <input type="number" name="bedroom" class="form-control" value="{{houseDetail.bedroom}}">
      </div>
      <div class="form-group col-md-4">
        <label>Số phòng tắm</label>
        <input type="number" name="bathroom" class="form-control" value="{{houseDetail.bathroom}}">
      </div>
      <div class="form-group col-md-4">
        <label>Giá thuê</label>
        <input type="number" name="price" class="form-control" placeholder="Việt nam đồng"
               value="{{houseDetail.price}}">
      </div>
    </div>
    <label><h5>Địa chỉ nhà</h5></label>
    <div class="form-row" style="border: 1px solid #8F8FA8">
      <div class="form-group col-md-4">
        <label>Tỉnh/Thành phố</label>
        <select name="city" (change)="changedCity($event.target.value)" class="form-control">
          <option selected>{{houseDetail.city}}</option>
          <option *ngFor="let city of cities " value="{{city.matp}}">{{city.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Quận/Huyện</label>
        <select name="district" (change)="changeDistrict($event.target.value)" class="form-control">
          <option selected>{{houseDetail.district}}</option>
          <option *ngFor="let district of districts " value="{{district.maqh}}">{{district.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Phường/Xã</label>
        <select name="sub_district" class="form-control" (change)="getSubDistrict($event.target.value)">
          <option selected>{{houseDetail.sub_district}}</option>
          <option *ngFor="let subdistrict of subDistricts " value="{{subdistrict.xaid}}">{{subdistrict.name}}</option>
        </select>
      </div>
      <div class="form-group col">
        <label>Địa chỉ</label>
        <input type="text" name="address" class="form-control" value="{{houseDetail.address}}">
      </div>
    </div>
    <br>
    <label><h5>Mô tả chi tiết</h5></label>
    <div class="form-row">
      <ckeditor tagName="editor" class="col-12" [editor]="Editor" (change)="onChange($event)"
                data="{{houseDetail.description}}"></ckeditor>
    </div>
    <br>
    <label><h5>Hình ảnh</h5></label>
    <p>Ấn vào ảnh để xóa ảnh bạn muốn xóa</p>
    <p *ngIf="houseApi.message" style="background-color: #8AD144">{{houseApi.message}}</p>
    <div class="form-row" *ngIf="photoOfPost">
      <div *ngFor='let photo of photoOfPost' class="form-group col-4">
        <a class="col col-4 float-left disabled">
          <img src="{{houseApi.imageUrl}}/{{photo.image}}" style="max-height: 200px">
          <span (click)="deleteImage(photo.id)" class=" btn-delete-image btn btn-danger position-absolute">X</span>
        </a>
        <br/>
      </div>
    </div>
    <div class="form-row" *ngIf="photoOfPost === []">
      <p>Chưa có ảnh cho bài viết!!</p>
    </div>
    <p>Chọn ảnh bạn muốn thêm:</p>
    <div class="form-row">
      <div *ngFor='let url of urls' class="form-group col-4">
        <img [src]="url" style="max-height: 200px"><br/>
      </div>
    </div>
    <input name="image" type="file" (change)="onSelectFile($event)">
    <p></p>
    <button type="submit" class="btn btn-primary ">Sửa bài đăng</button>
    <a routerLink="" class="btn btn-warning">Hủy</a>
    <p></p>
  </form>
</div>


