<div class="form-group">
  <p class="text-success" *ngIf="houseService.message" style="font-size: 20px;">{{houseService.message}}</p>
  <div class="form-row">
    <div class="form-group col-3 text-center" style="background-color: #E7E7EB;height: auto;display: inline-table;">
      <app-user-detail-in-post></app-user-detail-in-post>
    </div>
    <div class="form-group col-9">
      <span class="text-danger" *ngIf="message">{{message[0]}}</span>
      <li class="list-group-item " style="background-color: #8F8FA8">Lịch sử thuê nhà</li>
      <div style="border: 1px solid #3f3f4b" *ngIf="houses">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col" style="width: 50px">STT</th>
            <th scope="col" style="text-align: center">Danh sách</th>
          </tr>
          </thead>
          <tr *ngIf="!orders.length">
            <th scope="col" style="width: 50px"></th>
            <td scope="col" style="text-align: center">Chưa đặt thuê nhà nào</td>
          </tr>
          <tbody>
          <tr *ngFor="let order of orders ; index as i">
            <th class="text-center align-middle" scope="row">{{i + 1}}</th>
            <td>
              <div *ngFor="let house of houses">
                <div *ngIf="house.id === order.house_id ">
                  <h5 style="color: #0250c5">{{house.title}}</h5>
                  <span>Ngày nhận phòng: {{datePipe.transform(order.check_in, 'dd-MM-yyyy')}}</span><br>
                  <span>Ngày trả phòng: {{datePipe.transform(order.check_out, 'dd-MM-yyyy')}}</span><br>
                  <span>Trạng thái:
                  <span *ngIf="order.status === '0'" class="text-danger">Lịch đặt đã bị hủy</span>
                  <span *ngIf="order.status === '1'" class="text-warning">Đang chờ</span>
                  <span *ngIf="order.status === '2'" class="text-success">Đặt lịch thành công</span>
              <br>
              <a *ngIf=" order.status != '0'" (click)="cancelOrder(order.id, house.id)">
                <button>Hủy thuê</button>
              </a>
              </span>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




