//.image {
//  text-align: center;
//  background: #F4F4F4;
//}
//.image img{
//  width: auto;
//  height: auto;
//  max-height: 350px;
//}
.slide{
  height: 400px;
  overflow: hidden;
}

.carousel-inner{
  height: 100%;
  background: #000000;
}
.carousel-item {
  height: 100%;
  text-align: center;
  width: 100%;
  padding: 5px;
}
.carousel-item img
{
  width: auto !important;
  height: auto;
  max-height: 100%;
  margin: auto;
}
