.house-content p{
  margin: 0px;
}
.house-content p span{
  width: 70px;
  overflow: hidden;
  display: inline-table;
}
product-grid {
  height: 500px;
  overflow: hidden;
}
.product-grid .product-image{
  height: 310px;
}
