<div>
  <div class="col col-6 float-left">
    <img src="{{UserDetail.avatar}}" alt="avata" style="max-width: 100%">
  </div>
  <div class="col col-6 float-left">
    <h1>Profile</h1>
    <p><i class="fas fa-user-circle"></i><b>Tài khoản:</b> {{UserDetail.username}}</p>
    <p><i class="fas fa-envelope-open-text"></i><b>Email:</b> {{UserDetail.email}} </p>
    <p><i class="far fa-address-card"></i><b>Họ tên:</b> {{UserDetail.name}}</p>
    <p *ngIf="UserDetail.gender"><i class="fas fa-venus-mars"></i><b>Giới tính:</b> Nam</p>
    <p *ngIf="!UserDetail.gender"><i class="fas fa-venus-mars"></i><b>Giới tính:</b> Nữ</p>
    <p><i class="far fa-address-card"></i><b>Địa chỉ:</b> {{UserDetail.address}}</p>
    <p><i class="fas fa-phone"></i><b>Điện thoại:</b> {{UserDetail.phone}}</p>
    <p><i class="fas fa-phone"></i><b>Facebook:</b> {{UserDetail.facebook}}</p>
  </div>
  <a routerLink="update">Cập nhật thông tin tài khoản</a>
</div>
