<!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="logo">
          <a href="./index.html">
            <img src="img/logo.png" alt="">
          </a>
        </div>
        <ul class="main-menu">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a href="search.html">Search Results</a></li>
          <li><a href="about.html">Categories</a></li>
          <li><a href="single-property.html">Single Property</a></li>
          <li><a [routerLink]="['/register']">Register</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
          <li ><a [routerLink]="['/me']" class="nav-link" routerLinkActive="active">
            Profile
          </a>
          </li>
          <li class="top-social">
          </li>
        </ul>
        <div id="mobile-menu-wrap"></div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->
