<!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="logo">
          <a href="./index.html">
            <img src="img/logo.png" alt="">
          </a>
        </div>
        <ul class="main-menu">
          <li><a [routerLink]="['']">Home</a></li>
          <li><a href="search.html">Search Results</a></li>
          <li><a href="about.html">Categories</a></li>
          <li><a href="single-property.html">Single Property</a></li>

          <li *ngIf="!isLogined"><a (click)="Register()">Register</a></li>
          <li *ngIf="!isLogined"><a class="btn" (click)="Login()">Login</a></li>
          <li *ngIf="isLogined">

            <div class="user-area dropdown float-right">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                {{UserDetail.username}}
              </a>
              <div class="user-menu dropdown-menu">
                <a class="nav-link" [routerLink]="['/me']"><i class="fa fa- user"></i>Profile</a>
                <a class="nav-link" [routerLink]="['/me/posts/list']"><i class="fa fa -cog"></i>Tin của bạn </a>
                <a class="nav-link" (click)="logout($event)" href=""><i class="fa fa-power -off"></i>Logout</a>
              </div>
            </div>
          </li>
          <li>
            <a class="btn btn-warning" (click)="changePage()">Dang tin</a>
          </li>
        </ul>
        <div id="mobile-menu-wrap"></div>
      </div>
    </div>
  </div>
</header>
